@CHARSET "UTF-8";


.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

#logo{
    height: 56px;
    padding: 13px;
  width: auto;
}

.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0px;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}


.row{
	
}